In [ ]:
day=input('yyyy,mm,dd 형식으로 입력하세요  ').split(',')

y,m,d =map(int, day)
print(y,m,d,y-m-d)

yyyy,mm,dd형식으로 입력하세요  2020,07,05
2020 7 5 2008

In [ ]:
 #형변환, map 사용
 a,b,c = map(int, input('a b c 입력').split(' '))
 print(a,b,c, a+b+c)
 print(type(a))

a b c 입력1 2 3
1 2 3 6
<class 'int'>

In [ ]:
#숫자 출력하기 .format()
x=3
y=5
#출력 내용: 3과 5의 합은 8이다.
print (f"{x}과 {y}의 합은 {x+y}이다")

3과 5의 합은 8이다

In [ ]:
#숫자 출력하기 .format()
x=3
y=5
#출력 내용: 3과 5의 합은 8이다.
print ('{}과 {}의 합은 {}이다'.format(x,y,x+y))

3과 5의 합은 8이다

In [ ]:
x=3
y=5
#출력 내용: 3과 5의 합은 8이다.
print (str(x)+"과" +str(y)+"의 합은 "+str(x+y)+"이다")

3과5의 합은 8이다

In [ ]:
x=3
y=5
#출력 내용: 3과 5의 합은 8이다.
print(x, end='')
print('과 ', end='')
print(y, end='')
print('의 합은 ', end='')
print(x+y, end='')
print('이다.')

3과 5의 합은 8이다

In [ ]:
#반올림
print(round(3.33))
print(round(3.66))
print(round(3.66,1)) #소수 첫째자리까지 처리함

3
4
3.7

In [ ]:
#절대값
print(abs(3))
print(abs(-3))

3
3

In [ ]:
#제곱
print(pow(3,2))
print(3**2)

9
9

In [ ]:
#나눗셈
x,y = divmod(7,2)
print(x) # 몫
print(y)  # 나머지

3
1

In [ ]:
# 합
print(sum([2,4,5,7,19]))

37

# 최소, 최대 값 구하기

In [ ]:
#최소. 최대값
print(max(2,4,5,7,19))
print(min([2,4,5,7,19])) # [] 사용 가능

19
2

In [17]:
# 숫자 리스트를 입력 받아 최소값 구하기

li = list(map(int,input('숫자 입력:').split()))
# print(min(li))

m=li[0]
for i in li:
  if i<m:
    m=i
print(m)

숫자 입력:56 3 89 980 45
3

In [1]:
# 숫자 리스트를 입력 받아 최대값 구하기

li = list(map(int,input('숫자 입력:').split()))
# print(min(li))

m=li[0]
for i in li:
  if i>m:
    m=i
print(m)

숫자 입력:678 39292 2222222 56 4 3335
2222222

# 선형 탐색/ 이진 탐색

In [5]:
#선형 탐색
#리스트 안에 있는 임의 수를 입력받아 리스트 상에서 인덱스 값을 알아내기

li= [1,6,4,2,3,10,8,7,5,9]
n= int(input('n:'))

for i in range(len(li)):
  if li[i]==n:
    print(n,'의 index:',i)
    break

n:3
3 의 index: 4

이진 탐색

선행 조건: 리스트 안에 숫자들이 정렬되어 있어야 한다.

선형 탐색 비교: 범위를 좁혀서 탐색 하기 때문에 많은 숫자를 처리하 경우 속도 차이가 있다

In [7]:
li=[1,3,5,6,8,9,13,15,17,19]

n=int(input('1,3,5,6,8,9,13,15,17,19:'))

s_index=0
e_index=len(li)-1

while s_index<=e_index:
  m_index=(s_index+e_index)//2
  
  print(s_index, m_index, e_index)

  if n>li[m_index]:
    s_index = m_index+1

  elif n<li[m_index]:
    e_index=m_index-1

  else:
    print(m_index)

    break

1,3,5,6,8,9,13,15,17,19:5
0 4 9
0 1 3
2 2 3
2

# 정렬

선택 정렬

In [5]:
li=[8,6,4,1,2,3,5,10,9,7]

for i in range(len(li)):
  print(li)
  min_idx=i
  for j in range(i,len(li)):
    if li[j]<li[min_idx]:
      min_idx=j
  li[i],li[min_idx]=li[min_idx],li[i]

print('최종결과')
print(li)

[8, 6, 4, 1, 2, 3, 5, 10, 9, 7]
[1, 6, 4, 8, 2, 3, 5, 10, 9, 7]
[1, 2, 4, 8, 6, 3, 5, 10, 9, 7]
[1, 2, 3, 8, 6, 4, 5, 10, 9, 7]
[1, 2, 3, 4, 6, 8, 5, 10, 9, 7]
[1, 2, 3, 4, 5, 8, 6, 10, 9, 7]
[1, 2, 3, 4, 5, 6, 8, 10, 9, 7]
[1, 2, 3, 4, 5, 6, 7, 10, 9, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
최종결과
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

버블 정렬 (선택 정렬 역순으로 처리)

In [9]:
li=[8,6,4,1,2,3,5,10,9,7]

for i in range(len(li)):
  print(li)
  for j in range(len(li)-i-1):
    if li[j]>li[j+1]:
     li[j],li[j+1] = li[j+1], li[j]

print('최종결과')
print(li)

[8, 6, 4, 1, 2, 3, 5, 10, 9, 7]
[6, 4, 1, 2, 3, 5, 8, 9, 7, 10]
[4, 1, 2, 3, 5, 6, 8, 7, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
최종결과
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]